
/* body {
    background-color: lightblue;
} */

.header {
    background-color: lightblue;
}

.input-row {
    width: 300px;
    margin : auto;
}

.paper-sunrise,.paper-day,.paper-sunset {
    width: 300px;
    margin: auto;
}

.row {
    margin: 20px;
}

.paper-sunrise {
    background-image: url('../images/sunrise.jpg');

}
.paper-day {
    background-image: url('../images/day.jpg');

}

.paper-sunset {
    background-image: url('../images/sunset.jpg');


}

.paper-sunrise::before,.paper-day::before,.paper-sunset::before {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.75);
}




.sunset-typography {
    color:white;
}